:root{
     --fz-sm: .75rem;
     --fz-md: .88rem;
     --fz-lg: 1rem;
     --fz-xlg: 1.13rem;
     --fz-xxlg: 1.25rem;
     --fz-ban: 1.9rem;
     --p-color: #126E82;
     --s-color: #D8E3E7;
     --o-color: #51c4D3;
     --btn-color: #132C33;
     --we-300: 300;
     --we-600: 600;
     --we-500: 500;
     --we-900: 900;
     --w-80: 80%;
     --w-100: 100%;
     --w-50: 50%;
     --w-300: 300%;
     --w-20: 20%;
}
*{
     margin: 0;
     padding: 0;
     text-decoration: none;
     box-sizing: border-box;
}


/*-------- Element style  ----------*/
body{
     font-size: 16px;
}
.a{
     text-decoration: none;
}
img{
     width: 100%;
     height: 100%;
}

/* --------- universal classs ------------- */
.text{
     font-family: montserrat;
     font-weight: 400;
     font-size: var(--fz-sm);
     line-height: 1.7;
     color: var(--s-color);
}
.title{
     font-weight: var(--we-900);
     font-size: var(--fz-xxlg);
     line-height: 1.5;
     font-family: montserrat;
     color: var(--btn-color);
     text-align: left;
}
.p-text{
     font-size: var(--fz-lg);
     color: var(--p-color);
     text-align: left;
     line-height: 1.8;
}
.fa{
     color: var(--s-color);
     margin: 0 5px;
}
.icon-dark{
     color: var(--p-color);
}
.btn{
     border: none;
     border-radius: 5px;
     text-align: center;
     background-color: var(--btn-color);
     color: var(--s-color);
     /* outline: none; */
}
.link-plan{
     list-style: none;
}
.btn-lg{
     height: 35px;
     width: 110px;
}
.btn-outline{
     background-color: transparent;
     border: 1px solid #fff;
}
.btn-text{
     font-size: var(--fz-md);
     color: var(--s-color);
     font-family: montserrat;
}
.center{
     display: flex;
     justify-content: center;
     align-items: center;
}
.column{
     flex-direction: column;
}
.align-start{
     align-items: flex-start;
}
.align-end{
     align-items: flex-end;
}
.justify-end{
     justify-content: flex-end;
}
.justify-space{
     justify-content: space-between;
}
.justify-start{
     justify-content: flex-start;
}
.w-80{
     width: var(--w-80);
}
.w-50{
     width: var(--w-50);
}
.w-50{
     width: var(--w-50);
}
.w-100{
     width: var(--w-100);
}
.w-20{
     width: var(--w-20);
}
.w-30{
     width: var(--w-30);
}
.h-100{
     height: 100vh;
}


/* ------------ header style ------------------------ */
.nav-con{
     display: none;
}


header{
     background-color: var(--p-color);
     height: 100vh;
     max-height: 100vh;
     overflow: hidden;
}
.header-con{
     height: 100%;
     overflow: hidden;
}
.navbar{
     height: 10%;
}
.banner-con{
     height: 90%;
}
.bars-con i{
     font-size: var(--fz-xxlg);
}
.logo-text{
     font-size: 28px;
     color: #fff;
}
.banner-left{
     margin-bottom: 30px;
     height: 40%;
}
.banner-text{
     font-weight: var(--we-600);
     font-size: var(--fz-ban);
     line-height: 1.5;
     color: #fff;
     height: 75%;
}
.banner-btn-con{
     height: 25%;
}
.btn-ban:first-of-type{
     margin-right: 10px;
}
.btn-ban:first-of-type:hover{
     background-color: transparent;
     border: 1px solid #fff;
}
.btn-outline:hover {
     background-color: var(--s-color);
     color: var(--btn-color);
}
.btn-outline:hover i, .btn-outline:hover a{
     color: var(--btn-color);
}
.btn-ban i{
     padding-right: 5px;
}
.banner-right{
     padding: 20px;
     height: 45%;
}
.ban-img-con{
     transform: rotate(10deg);
     width: var(--w-80);
    
}
.ban-img-con img{
     border-radius: 20px;
     height: 500px;
}

/* ------------- Side Navbar ----------------- */
.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--s-color);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: var(--fz-xlg);
  color: var(--p-color);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


/* ----------- main ------------------- */
main{
     height: auto;
}

/*---------- Service style -----------*/
.service-con{
     min-height: 90vh;
}
.service-box{
     margin: 15px 0;
}
.ser-p{
     text-align: center;
     padding: 5px 10px;
     text-align: center;
}
.ser-icon{
     margin: 5px 0;
}

/************ Plan style ***********/
.plan{
     min-height: 100vh;
}
.plan-con-title{
     height: 10vh;
     font-size: 25px;
     text-align: center;
}
.plan-con-text{
     height: 15vh;
}
.plan-box{
     border: 1px solid var(--btn-color);
     border-radius: 5px;
     min-height: 287px;
     margin: 40px 0;

}
.plan-sub-title{
     width: 100%;
     background-color: var(--s-color);
     border-bottom: 1px solid var(--btn-color);
     height: 8vh;
}
.plan-detail-box{
     height: 280px;
}
.plan-title{
     font-size: var(--fz-ban);
     line-height: 2;
     height: 20%;
}
.btn-plan{
     display: block;
     background-color: transparent;
     color: var(--btn-color);
     line-height: 40px;
     min-height: 40px;
     border: 1px solid var(--btn-color);
     margin: 10px 0;
}
.btn-plan:hover, .btn-plan:active{
     background-color: var(--btn-color);
     color: var(--s-color);
}
.link-plan{
     height: 40px;
}
.plan-detail-box ul{
     height: 100%;
}

/************ Advert style  ***********/
.advert{
     background-color: var(--p-color);
     min-height: 50vh;
}
.advert-title{
     text-align: left;
     height: 25vh;
     font-size: 28px;

}
.advert-btn-con{
     height: 15vh;
}
.advert-btn-con .btn{
     margin: 0 10px;
}













/************ Medium screen design  ************/
@media screen and (min-width: 600px)  {
     :root{
          --fz-sm: 1rem;
          --fz-md: 1.13rem;
          --fz-lg: 1.25rem;
          --fz-xlg: 1.38rem;
          --fz-xxlg: 1.5rem;
          --fz-ban: 2.9rem;
     }
     .md-row{
          flex-direction: row;
     }
     .md-align-end{
          align-items: flex-end;
     }
     .md-80{
          width: var(--w-80);
     }
     .md-50{
          width: var(--w-50);
     }
     .md-100{
          width: var(--w-100);
     }
     .md-20{
          width: var(--w-20);
     }
     .md-30{
          width: var(--w-30);
     }
     .md-100{
          height: 100vh;
     }
     .btn-lg {
          height: 50px;
          width: 130px;
     }


     .bars-con{
          display: none;
     }

     /*********** Banner Style  **********/
     .nav-con{
          display: flex;
          width: 50%;
          justify-content: space-between;
     }
     .nav-link{
          margin: 10px 10px;
     }
     header{
          overflow: hidden;
     }
     .banner-left{
          height: 50%;
     }
     .banner-text{
          height: 70%;
     }
     .banner-btn-con{
          height: 15%;
     }
     .banner-right{
          position: relative;
          z-index: 2;
          top: 70px;
     }
     .ban-img-con{
          height: 600px;
          width: 100%;
     }
     .ban-img-con img{
          height: 100%;
     }

     /*********** Service style ************/
     .service{
          height: 50vh;
     }
     .service-con{
          width: 90%;
     }
     .service-box{
          max-height: 250px;
          height: 250px;
          justify-content: flex-start;
     }
     .ser-icon{
          height: 20%;
     }
     .service-title{
          text-align: center;
          height: 30%;
          overflow: hidden;
     }
     .ser-p{
          max-height: 50%;
          overflow: hidden;
     }
     

     /************ Plan style  *********/
     .plan{
          min-height: 70vh;
     }
     .plan-wrapper{
          width: 90%;
     }
     .plan-con{
          flex-direction: row;
          justify-content: space-between;
     }
     .plan-con-text{
          height: 5vh;
     }
     .plan-box{
          width: 30%;
          height: 380px;
     }
     .plan-detail-box{
          height: 300px;
     }
     .plan-sub-title{
          font-size: var(--fz-lg);
          height: 18%;
     }
     .plan-detail-ul{
          height: 60%;
          justify-content: flex-start;
     }
     .plan-title{
          font-size: var(--fz-xxlg);
          height: 55%;
     }
     .link-plan{
          font-size: var(--fz-md);
     }

     /***************** advert ******************/ 
     .advert{
          height: 50vh;
     }
     .advert-con{
          height: 100%;
     }
     .advert-title{
          height: 20%;
          line-height: 2;
          font-size: var(--fz-xxlg);
     }
     .advert-btn-con{
          height: 20%;
     }
     
}

@media screen and (min-width: 920px)  {
     :root{
          --fz-sm: .75rem;
          --fz-md: .88rem;
          --fz-lg: 1rem;
          --fz-xlg: 1.13rem;
          --fz-xxlg: 1.25rem;
          --fz-ban: 1.9rem;
     }
     .btn-lg{
          width: 120px;
          height: 40px;
     }

     /*********** Banner Style  **********/
     .nav-con{
          width: 30%;
     }
     .nav-a{
          font-size: var(--fz-md);
     }
     .banner-con{
          justify-content: flex-start;
     }
     .banner-left{
          height: 50%;
          width: 40%;
     }
     .banner-text{
          height: 80%;
          padding: 15px 0;
          font-size: 34px;
     }
     .banner-right{
          width: 30%;
     }
     .ban-img-con{
          height: 400px;
          width: 100%;
     }
     .ban-img-con img{
          height: 100%;
     }

     /*********** Service style ************/
     .service{
          height: 50vh;
     }
     .service-con{
          width: 80%;
          align-items: center;
          justify-content: space-between;
          
     }
     .service-box{
          max-height: 200px;
          width: 25%;
          margin: 50px 0;
     }
     .ser-icon{
          height: 15%;
     }
     .ser-icon i{
          font-size: 30px;
     }
     .service-title{
          text-align: center;
          height: 50px;
          line-height: 50px;
          font-size: var(--fz-lg);
     }
     .ser-p{
          max-height: 50%;
          overflow: hidden;
          font-size: var(--fz-md);
     }
     

     /************ Plan style  *********/
     .plan{
          min-height: 70vh;
     }
     .plan-wrapper{
          width: 90%;
     }
     .plan-con{
          flex-direction: row;
          justify-content: space-between;
          width: 80%;
     }
     .plan-con-text{
          font-size: var(--fz-md);
     }
     .plan-box{
          width: 30%;
          height: 280px;
     }
     .plan-detail-box{
          height: 220px;
     }
     .plan-sub-title{
          font-size: var(--fz-md);
          height: 18%;
     }
     .plan-detail-ul{
          height: 40%;
          justify-content: flex-start;
     }
     .plan-title{
          font-size: var(--fz-xlg);
     }
     .link-plan{
          font-size: var(--fz-sm);
          height: 30px;
     }

     /***************** advert ******************/ 
     .advert-con{
          align-items: flex-start;
     }
     .advert-title{
          height: 20%;
          margin: 20px 0;
          font-size: var(--fz-xxlg);
     }
     .advert-btn-con{
          height: 20%;
     }
     .advert-btn-con .btn-add:first-child{
          margin-left: 0;
     }
}




































}